.hdr{
    /* border: 1px solid black; */
    width: 100vw;
    /* height: 15vh; */
}

.navbar{
    /* border: 1px solid blue; */
    height: 56px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items{
    border: 1px solid red;
    height: 40px;
}

.item1{
    width: 14.64vw;
}

.item2{
    width: 51.24vw;
}

.item3{
    width: 18.30vw;
}